<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <title>{{ location }}</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css"/>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@400;600;700&family=Source+Serif+Pro&display=swap" rel="stylesheet">


    <style> 
      
      .container {
        max-width: 800px !important;
      }

      .meeting-title {
        font-size: 20px;
        font-weight: 700;
        color:  #00A36C;
      }

      .meeting-details {
        font-size: 16px;
        color: black;
      }

      .navbar-item {
        font-family: Lato;
        font-size: 20px;
      }

      .link:hover {
        color: yellow;
      }

    </style>  
  </head>
  <body>
      <nav class="navbar is-dark" role="navigation" aria-label="main navigation">
        <div class="navbar-brand">
          <a class="navbar-item" href="#">The Danish Court Meetings Database</a>
        </div>
      </nav>
      <section class="hero is-medium is-light">
        <div class="hero-body">
          <p class="title">{{ location }}</p>
          <p class="subtitle">This is the first database of all published court meeting in the Danish city courts. The database is updated with new court meetings every week. The database includes {{ "{:,}".format(count) }} cases from the {{ location }}.</p>
        </div>
      </section>
      <section class="section">
        <div class="container">
            {% for meeting in meetings %}
            <div class="link"><a href="/court/cases/{{ meeting.slug }}">
              <div class="meeting-title">{{ meeting.case_type.capitalize() }}</div>
              <div class="meeting-details">
                <p>Date: {{ meeting.date }}</p>
                <p>Court file number: {{ meeting.slug }}</p>
              </div> 
            </a></div>
            {% endfor %}
        </div>
      </section>
        <footer class="footer">
          <div class="content has-text-centered">
            <p>
              © 2023 – Laura Bejder Jensen
            </p>
          </div>
        </footer>
  </body>
</html>