
<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <title>The Danish Court Meeting Database</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css"/>
  </head>
  <body>
      <nav class="navbar is-dark" role="navigation" aria-label="main navigation">
        <div class="navbar-brand">
          <a class="navbar-item" href="#">The Danish Court Meetings Database</a>
        </div>
      </nav>
      <section class="hero is-medium is-light">
        <div class="hero-body">
          <p class="title">{{ case.case_type_detailed }}</p>
          <p class="subtitle">{{ case.court_en }}, court file number: {{ case.court_file_number }}</p>
        </div>
      </section>
      <section class="section">
        <div class="container">
            <p>This is a {{ case.case_type }}.</p>
            <p>The court meeting was held on {{ case.date }}</p>
            <p>Judge: {{ case.judge }}</p>
        </div>
      </section>
        <footer class="footer">
          <div class="content has-text-centered">
            <p>
              © 2023 – Laura Bejder Jensen
            </p>
          </div>
        </footer>
  </body>
</html>